@model IEnumerable<Note>
<link href="@Url.Content("~/css/note.css")" rel="stylesheet" type="text/css" />
<h1>Мои заметки:</h1>
@foreach (var item in Model)
{
	<div id="note">
		<h3>@item.Title</h3>
		<p>@item.Description</p>
	</div>
	
}
